<?xml version="1.0"?>
<!--
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 *
 * @category     Cepheros
 * @package      Itaushopline
 * @author         Daniel Chaves <daniel@danielchaves.com.br>
 * @license        http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

-->
<config>
    <modules>
        <Cepheros_ItauShopline>
            <version>1.0.0</version>          
        </Cepheros__ItauShopline>
    </modules>
    <global>
        <models>
            <itaushopline>
                <class>Cepheros_ItauShopline_Model</class>
                <resourceModel>itaushopline_mysql4</resourceModel>
            </itaushopline>
            <itaushopline_mysql4>
                <class>Cepheros_ItauShopline_Model_Mysql4</class>
                <entities>
                    <api_debug><table>itaushopline_api_debug</table></api_debug>
                    <transaction><table>itaushopline</table></transaction>
                </entities>
            </itaushopline_mysql4>
        </models>
		<helpers>
			<itaushopline>
				<class>Cepheros_ItauShopline_Helper</class>
			</itaushopline>
		</helpers>
		 <resources>
            <itaushopline_setup>
                <setup>
                    <module>Cepheros_ItauShopline</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itaushopline_setup>
            <itaushopline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </itaushopline_write>
            <itaushopline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </itaushopline_read>
        </resources>
        <blocks>
            <itaushopline>
                <class>Cepheros_ItauShopline_Block</class>
            </itaushopline>
        </blocks>
    </global>
    <frontend>      
        <routers>
            <itaushopline>
                <use>standard</use>
                <args>
                    <module>Cepheros_ItauShopline</module>
                    <frontName>itaushopline</frontName>
                </args>
            </itaushopline>
        </routers>
        <translate>
            <modules>
                <Cepheros__ItauShopline>
                    <files>
                        <default>Cepheros_ItauShopline.csv</default>
                    </files>
                </Cepheros__ItauShopline>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Cepheros__ItauShopline>
                    <files>
                        <default>Cepheros_ItauShopline.csv</default>
                    </files>
                </Cepheros__ItauShopline>
            </modules>
        </translate>        
    </adminhtml>

    <default>
         <payment>
             <itaushopline_standard>
                  <model>itaushopline/standard</model>
                  <title>Itaú Shopline</title>
                  <allowspecific>1</allowspecific>                  
            </itaushopline_standard>
        </payment>
    </default>
</config>
